.todo-item {
    padding: 2px 5px 2px 5px;
    background-color: rgba(0,0,0, 0.1);
}

.todo-element {
    display: inline-block;
    margin: 0;
    padding-left: 5px;
    max-width: 300px;
    overflow-wrap: break-word;
}

.remove-button {
    background-color: transparent;
    border: none;
    color: lightgrey;
    line-height: 17px;
    padding-right: 6px;
    margin: 0 5px 0 5px;
}

.remove-button:hover {
    color: white;
}

.remove-button:active {
    color: red;
}